node_modules
dist
npm-debug.log
# Global files
Dockerfile
.dockerignore
.git
.gitignore
.env
.env.*
*.md
.idea
.vscode
coverage
test
tests
*.pem
*.key
*.crt
*.pub
# GCP/AWS credentials
*.json
!package.json
!package-lock.json
!nest-cli.json
!tsconfig*.json
.aws
.gcp
.credentials
